* {
  margin:0;
  padding:0;
  font-size:16px;
  font-family:MyriadPro,serif;
  text-transform:uppercase;
}

@mixin color($color) {
   a {
    color: $color;
   }
   a:visited {
    color: $color;
   }
   a:active {
    color: $color;
   }
   color:$color;
   p {
    color:$color;
   }
}

a {
  text-decoration: none;
  color:black;
}

.btn {
  width:140px;
  height:43px;
  background:black;
  font-size:14px;
  text-align:center;
  border:0;
  & a {color:white;}
  &:hover{background:rgba(250,223,173,0.5);}
}



/* clearfix */
.container:after, .news:after, .contact:after, .footer:after {
  content:'';
  display: table;
  clear: both;
}
 /* */
.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  height:72px;
  background:black;
  color:white;
  @include color(white);

}

nav {
  float:left;

}
.menu {
  list-style: none;

}

.menu li {
  float:left;

}

.menu li a {
  padding:28px;
  display:inline-block;
  &:hover{background:rgba(250,223,173,0.5);}
}

.login{
  float:right;
  padding:28px;
  position:relative;
  &:hover{background:rgba(250,223,173,0.5);
  & a:before {
  background: url(../media/icon-login.png) 0 -15px;

}}
& a:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 16px;
  background: url(../media/icon-login.png) 0 0;
  top: 27px;
  left: 5px;
}}

main {
  height:1500px;
  background:url(../media/bckgr-index.jpg); 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.logo {
  text-align:center;
  padding-top:57px;
}
.fastcoolrich {
  float:left;
  @include color(white);
  & p:first-child {
    font-size:30px;
    text-align:center;  
  }
  & p:last-child {
    font-size:14px;
    text-align:center;
    margin-bottom:83px;
  }}

.fastcoolrich:last-child {
  float:right;
}
.second {
  position:relative;
  left:30px;
}

.square {
  width: 25px;
  height: 25px;
  background: white;
  position:relative;
  left:130px;
  transform:rotate(45deg);
  margin-top:20px;
  margin-bottom:35px;
}

.square2 {
  left:120px;
}
.square3 {
  left:145px;
}


.news {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background:url('../media/bckgr.png');
  height:430px;
  @include color(black);
  & a, & a:visited, & a:active {
    color:white;
  }
  position:relative;
}

.news-left-block {
  width:49%;
  float:left;
}

.news-header {
  font-size:30px;
  margin-top:56px;
  margin-left:72px;
}

.news-first, .news-second {
  margin-top:38px;
  margin-left:80px;
  margin-right:86px;
  margin-bottom:10px;
}

.btn-all-news {
  bottom:35px;
  position:absolute;
  margin-left:80px;
}
.news-first-date, .news-second-date {
  margin-left:80px;
}
.news-first, .news-first-date, .news-second, .news-second-date {
  font-size: 14px;
}

.line {
  width:8px;
  height:278px;
  float:left;
  position:relative;
  top:20%;
}

.news-right-block {
  width:49%;
  float:right;
}

.gallery {
  font-size:30px;
  margin-top:56px;
  margin-left:72px;
}

.photo {
  border:7px solid white;
  margin-left:72px;
  margin-top:47px;
}

.btn-prev {
  bottom:35px;
  position:absolute;
  left:562px;
}

.btn-next {
  position:absolute;
  bottom:35px;
  right:100px;
}

.contact {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top:34px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background:url('../media/bckgr.png');
  height:430px;
  @include color(black);
  & a, & a:visited, & a:active {
    color:white;
  }
  position:relative;
}

.contact-left-block {
  width:49%;
  float:left;
}

.contact-header {
  font-size:30px;
  margin-top:56px;
  margin-left:72px;

}

.contact-adress, .contact-time {
  margin-top:38px;
  margin-left:80px;
  margin-right:86px;
  margin-bottom:10px;
  line-height:24px;
  font-size:14px;

}

.btn-route {
  bottom:35px;
  position:absolute;
  margin-left:80px;
}

.btn-feedback {
  bottom:35px;
  position:absolute;
  margin-left:240px;
}

.contact-right-block {
  float:right;
  width:49%;
}

/* Валидатор формы записи */

#book-form label {
  display: inline-block;
}

#book-form input[type="text"] {
  width: 140px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 14px;
  padding-left: 15px;
  padding-right: 15px;
  height: 43px;
  color: #000000;
  border: 2px solid #000000;
  background-color: #f9f6f3;
  font-size: 14px;
  border-radius: 0px;
  -webkit-appearance: none;
  display: block;
}

#book-form input[type="text"]::-webkit-input-placeholder,
.enter-form input[type="text"]::-webkit-input-placeholder,
.enter-form input[type="password"]::-webkit-input-placeholder {
  color: #000000;
}

#book-form input[type="text"]::-moz-placeholder,
.enter-form input[type="text"]::-moz-placeholder,
.enter-form input[type="password"]::-moz-placeholder {
  color: #000000;
}

#book-form input[type="text"]:-moz-placeholder,
.enter-form input[type="text"]:-moz-placeholder,
.enter-form input[type="password"]:-moz-placeholder {
  color: #000000;
}

#book-form input[type="text"]:-ms-input-placeholder,
.enter-form input[type="text"]:-ms-input-placeholder,
.enter-form input[type="password"]:-ms-input-placeholder {
  color: #000000;
}

#book-form input[type="text"]:focus,
.enter-form input[type="text"]:focus,
.enter-form input[type="password"]:focus {
  border-color: #663d15;
}

#book-form input[type="submit"],
.enter-form input[type="submit"] {
  border: none;
  margin: 0;
  margin-top: 13px;
  padding: 0;
  height: 43px;
  width: 300px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.contact-form {
  margin-top:40px;
  margin-left:72px;
}

.form-text {
  font-size:14px;
  padding-right:116px;
  padding-bottom:10px;
  line-height:24px;
}

.book_label {
  font-size:14px;
}

.btn-submit {
  color:white;
  position:absolute;
  bottom:35px;
  left:560px;
}

footer {
  background:url('../media/footer-bckgr.png');
}
.footer {
  width: 960px;
  padding: 0 10px;
  padding-top:64px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:189px;
  color:white;
  font-size:14px;
  line-height:24px;
  position:relative;
}

.footer-adress {
  float:left;
}

.social {
  text-align: center;
  float:left;
  padding-left:92px;
}

social-icons {
  font-size: 0;
}

.social a {
  display: inline-block;
  background-image: url('../media/social-icons.png');
  width: 43px;
  height: 43px;
  font-size: 14px;
  margin-right: 5px;
  font-size: 0;
}

.vk:hover{
  background-position: 0 43px;
}

.fb {
  background-position: -43px 0;
}

.fb:hover {
  background-position: -43px 43px;
}

.insta {
  background-position: -86px 0;
}

.insta:hover {
  background-position: -86px 43px;
}

.who-created {
  float:right;
}

.btn-who-created {
  position:absolute;
  right:0px;
}

// Форма входа

.enter-form {
  background:url('../media/bckgr.png');
  position:absolute;
  z-index:2;
  top:100px;
  left:38%;
  width:460px;
  height:385px;
  text-align:center;
  & p {
    font-size:14px;
  }
}

.enter-form-header {
  padding-top:52px;
  font-size:30px;
  font-weight:400;

}

.enter-form-text {
  padding-top:29px;
}

.form-login {
  &:hover {background:0;}
  padding-top:15px;
  padding-bottom:9px;
  &:after {
    content:"";
    background:url('../media/enter-form-icons.png');
  }
}

.enter-form input[type="text"],
.enter-form input[type="password"] {
  width:300px;
  height:43px;
  border:2px solid black;
  padding-left:10px;
  &:focus{
    border: 2px solid rgba(224, 208, 83, 0.7);
  };
  background-color: #f9f6f3;
  outline:none;
  padding-right:40px;
  text-transform:none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-login:after,
.form-pass:after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url('../media/enter-form-icons.png') no-repeat;
  position: absolute;
  top:160px;
  left:350px;
}

.form-pass:after {
  top:210px;
  width: 15px;
  height: 17px;
  background-position: 0 -15px;
}

.remember input[type='checkbox'] + .checkbox-indicator {
  position:absolute;
  top:-5px;
  left:-30px;
  width:17px;
  height:17px;
  border:2px solid black;
  cursor: pointer;
}

.remember {
  position:absolute;
  top:15px;
  left:105px;
  width:120px;
}

.remember input[type='checkbox'] {
  display:none;
}

.remember input[type='checkbox']:checked + .checkbox-indicator::before,
.remember input[type='checkbox']:checked + .checkbox-indicator::after {
  content:"";
  position:absolute;
  top:8px;
  left:1px;
  width:15px;
  height:2px;
  background:black;
}

.remember input[type='checkbox']:checked + .checkbox-indicator::before {
  transform:rotate(45deg);
}
.remember input[type='checkbox']:checked + .checkbox-indicator::after {
  transform:rotate(-45deg);
}

.checkbox-label {
  position:absolute;
  left:5px;
  width:60px;
}


.forgot-pass {
  position:absolute;
  right:87px;
  top:256px;
  font-size:14px; 
  text-decoration:underline;
}

.btn-enter-form {
  position:absolute;
  bottom:35px;
  left:81px;
  color:white;
}


.close {
  &:before, &:after {
  content:"";
  position:absolute;
  top:15px;
  right:-45px;
  width:35px;
  height:4px;
  background:white;
  opacity:0.8;
  }
  &:before {
    transform:rotate(45deg);
  }
  &:after {
    transform:rotate(-45deg);
  }
}
// Форма входа конец